<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{47,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,46}}</string>
                <key>sourceSize</key>
                <string>{47,46}</string>
            </dict>
            <key>taxi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{72,132}}</string>
                <key>sourceSize</key>
                <string>{76,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{76,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5708bd6e8055836fc448ef861ba3235f:b958099c2841af1d70e6032fb2231ab2:e1a9b31caf258d7c92150a6ccbde6fbd$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
