<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{38,35}</string>
                <key>spriteSourceSize</key>
                <string>{66,59}</string>
                <key>textureRect</key>
                <string>{{300,154},{38,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{45,41}</string>
                <key>spriteSourceSize</key>
                <string>{63,59}</string>
                <key>textureRect</key>
                <string>{{266,194},{45,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,62}</string>
                <key>textureRect</key>
                <string>{{1,63},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{265,1},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,63}</string>
                <key>textureRect</key>
                <string>{{68,1},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,65}</string>
                <key>textureRect</key>
                <string>{{134,1},{63,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{199,1},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{66,63}</string>
                <key>textureRect</key>
                <string>{{1,125},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{61,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{264,63},{61,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{66,63}</string>
                <key>textureRect</key>
                <string>{{67,126},{60,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{62,65}</string>
                <key>textureRect</key>
                <string>{{128,124},{58,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{51,48}</string>
                <key>spriteSourceSize</key>
                <string>{67,60}</string>
                <key>textureRect</key>
                <string>{{172,185},{51,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{51,56}</string>
                <key>spriteSourceSize</key>
                <string>{65,58}</string>
                <key>textureRect</key>
                <string>{{247,126},{51,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{42,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,58}</string>
                <key>textureRect</key>
                <string>{{222,184},{42,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,36}</string>
                <key>spriteSourceSize</key>
                <string>{59,58}</string>
                <key>textureRect</key>
                <string>{{300,125},{27,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{65,62}</string>
                <key>textureRect</key>
                <string>{{120,188},{55,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{57,54}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{188,126},{57,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{62,56}</string>
                <key>spriteSourceSize</key>
                <string>{66,62}</string>
                <key>textureRect</key>
                <string>{{62,188},{62,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{62,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{1,188},{62,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>explosion7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{63,58}</string>
                <key>spriteSourceSize</key>
                <string>{65,62}</string>
                <key>textureRect</key>
                <string>{{134,64},{63,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,58}</string>
                <key>textureRect</key>
                <string>{{68,64},{64,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,61}</string>
                <key>textureRect</key>
                <string>{{199,63},{63,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>explosion.png</string>
            <key>size</key>
            <string>{337,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee0fa9fd2307b3abb743e5e1ed2d0528:2981b84fbab548a0634eb1745b36ca90:4b69d7ba1295ae0cf2f00351caec2d27$</string>
            <key>textureFileName</key>
            <string>explosion.png</string>
        </dict>
    </dict>
</plist>
