<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fireanimation0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,63}</string>
                <key>textureRect</key>
                <string>{{1,61},{59,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireanimation1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{1,443},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireanimation10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,61}</string>
                <key>spriteSourceSize</key>
                <string>{67,61}</string>
                <key>textureRect</key>
                <string>{{66,122},{67,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireanimation11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{1,184},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireanimation12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,58}</string>
                <key>spriteSourceSize</key>
                <string>{65,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{65,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireanimation13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,59}</string>
                <key>spriteSourceSize</key>
                <string>{64,59}</string>
                <key>textureRect</key>
                <string>{{66,61},{64,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireanimation14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,61}</string>
                <key>spriteSourceSize</key>
                <string>{71,61}</string>
                <key>textureRect</key>
                <string>{{64,185},{71,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireanimation15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{68,1},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireanimation2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{70,443},{65,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireanimation3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,66}</string>
                <key>spriteSourceSize</key>
                <string>{63,66}</string>
                <key>textureRect</key>
                <string>{{66,312},{63,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireanimation4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,69}</string>
                <key>spriteSourceSize</key>
                <string>{64,69}</string>
                <key>textureRect</key>
                <string>{{1,377},{64,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fireanimation5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{72,377},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireanimation6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,62}</string>
                <key>spriteSourceSize</key>
                <string>{64,62}</string>
                <key>textureRect</key>
                <string>{{69,248},{64,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireanimation7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,62}</string>
                <key>spriteSourceSize</key>
                <string>{63,62}</string>
                <key>textureRect</key>
                <string>{{1,311},{63,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireanimation8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{66,61}</string>
                <key>textureRect</key>
                <string>{{1,248},{66,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireanimation9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{1,122},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{137,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e1bd43e68aca1f332118add3e6fd907:9948c82daf9ea03498c70eb3cc705bb8:93fc315d322b739693df523479794333$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
