<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ambulance.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,260}</string>
                <key>spriteSourceSize</key>
                <string>{120,266}</string>
                <key>textureRect</key>
                <string>{{236,241},{120,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Black_viper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,250}</string>
                <key>spriteSourceSize</key>
                <string>{121,250}</string>
                <key>textureRect</key>
                <string>{{253,120},{119,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Car.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,260}</string>
                <key>spriteSourceSize</key>
                <string>{121,260}</string>
                <key>textureRect</key>
                <string>{{97,1},{117,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mini_truck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,233}</string>
                <key>spriteSourceSize</key>
                <string>{121,235}</string>
                <key>textureRect</key>
                <string>{{1,240},{119,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mini_van.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{121,271}</string>
                <key>spriteSourceSize</key>
                <string>{121,275}</string>
                <key>textureRect</key>
                <string>{{1,363},{121,271}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Police.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,250}</string>
                <key>spriteSourceSize</key>
                <string>{122,250}</string>
                <key>textureRect</key>
                <string>{{1,120},{118,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{94,92}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{117,225}</string>
                <key>spriteSourceSize</key>
                <string>{123,227}</string>
                <key>textureRect</key>
                <string>{{359,1},{117,225}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>truck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,329}</string>
                <key>spriteSourceSize</key>
                <string>{125,331}</string>
                <key>textureRect</key>
                <string>{{274,363},{125,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sprite.png</string>
            <key>size</key>
            <string>{604,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebc35093c9fd56b7aade58a8101be324:04c623fc855ec27f0005791f1383d5c3:0cbcc0bef9ecb80372fd8169b79a4a7a$</string>
            <key>textureFileName</key>
            <string>sprite.png</string>
        </dict>
    </dict>
</plist>
